const config = {
  DEV: {
    HOST: 'localhost',
    USER: YOUR_DB_USER,
    PASSWORD: YOUR_DB_PASSWORD,
    DB: YOUR_DB_NAME,
    dialect: 'mysql',
    pool: {
      max: 5,
      min: 0,
      acquire: 30000,
      idle: 10000,
    },
    DB_MAIL: YOUR_MAIL,
    DB_PASSWORD_MAIL: YOUR_PASSWORD,
  },
}

module.exports = { config };